.container {
    margin: 5px 5px;
    width: auto;
    position: center;
}

.inline {
    display: inline-block;
}

.toright {
    position: absolute;
    right: 20px;
}

.header-footer {
    background-color: aqua;
    height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
}
ul > li {
    display: inline;
    padding: auto;
    display: inline;
}
h1 {
    font-family: "Anime Ace v02";
}
a {
    text-decoration: none;
    background-color: transparent;
    color: black;
}